:root {
  --black: #121212;
  --white: #ffffff;
  --whiteSmoke: #f5f5f5;
  --gainsboro: #DCDCDC;
  --purple: #5F25A6;
  --darkPurple: #45197C;
  --lightPurple: #CCABDA;
  --gray: #6c757d;
  --darkGray :#495057;
  
  --font-size-body: 16px;
  --font-family: 'Times New Roman', Times, serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3{
    margin: 0;
    font-size: var(--font-size-body);
}

p,
hr,
ul {
  margin: 0;
}

ul {
  padding-left: 1rem;
}


body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--whiteSmoke);
}


.edit-btn,
.save-btn {
  cursor: pointer;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.edit-btn:hover,
.edit-btn:focus,
.save-btn:hover,
.save-btn:focus
 {
  background-color: var(--darkPurple);
}

.cancel-btn {
  cursor: pointer;
  background-color: var(--gray);
  color: var(--white);
  border: none;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.cancel-btn:hover,
.cancel-btn:focus
 {
  background-color: var(--darkGray);
}

.add-btn,
.add-bullet {
  cursor: pointer;
  background-color: var(--gainsboro);
  color: var(--black);
  border: none;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.add-btn:hover,
.add-btn:focus,
.add-bullet:hover,
.add-bullet:focus {
  background-color: #A9A9A9;
}

.resume-container{
  background-color: var(--white);
  padding: clamp(1rem, 4vw, 2rem) clamp(1rem, 4vw, 5rem);
  max-width: 816px;
  min-height: 1056px;
  margin: 1rem auto 0;
}

.resume-header {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.resume-header > h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.edit-btn {
  position: absolute;
  right: 0;
}

.header-data > span {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}


.resume-section,
.section-body  {
  margin-bottom: 2rem;
}

.section-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.entry-date-range {
  margin-bottom: .25rem;
}

.entry-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entry-header-left {
  display: flex;
  flex-wrap: wrap;
  column-gap: .5rem;
  margin-bottom: .25rem;
  align-items: center;
}

.project-links {
  display: inline-flex;
  column-gap: .5rem;
}

.skill {
  margin-bottom: .1rem;
}

.entry-bullet {
  margin-bottom: .15rem;
}

.form-btn {
  display: flex;
  column-gap: .5rem;
  justify-content: flex-end;
}

.edit-header-form,
.edit-edu-form {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.edit-header-form label,
.edit-edu-form label {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  width: 100%;
}


.edit-exp-form {
  position: relative;
  margin-bottom: 1rem;
}

.edit-exp-form label {
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  width: 100%;
}

.delete-form-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 1rem;
  background: transparent;
  border: none;
}

.delete-form-btn:hover,
.delete-form-btn:focus {
  font-weight: bold;
}

.delete-bullet-btn {
  cursor: pointer;
  border: none;
  background: transparent;
}

.delete-form-btn:hover,
.delete-form-btn:focus,
.delete-bullet-btn:hover,
.delete-bullet-btn:focus {
  font-weight: bold;
}


.add-bullet {

}


@media screen and (min-width: 500px) {
  .edit-header-form label,
  .edit-edu-form label {
    width: calc(50% - .5rem);
  }


}
